.container {
  align-items: center;
  color: tomato;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.seconds {
  height: 200px;
  transform: rotate(-90deg);
  width: 200px;
}

.track,
.progress {
  stroke-dashoffset: 0;
  stroke-width: 1em;
}

.track {
  stroke: #ccc;
}

.progress {
  stroke: currentColor;
  transition: stroke-dashoffset 1s linear;
}

.minutes {
  font-size: 4em;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
